#https://bitbucket.org/rajbot/warc-tools/get/tip.zip
# fork of above with additional fixes
git+https://github.com/nlevitt/warctools.git@cdx-writer-experimental
https://github.com/internetarchive/surt/tarball/customization
chardet
